.counterContainer {
  margin: 0 auto;
  width: 400px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter {
  font-size: 62px;
  display: block;
  margin: 50px auto;
}

.increment {
  display: block;
  margin-bottom: 40px;
  font-size: 22px;
  width: 200px;
  padding: 12px;
  border-radius: 22px;
  background-color: green;
}

.dicrement {
  display: block;
  font-size: 22px;
  width: 200px;
  padding: 12px;
  border-radius: 22px;
  background-color: red;
}
